@import '../../assets/css/_variables.scss';

.eventList {
  display: flex;
  flex: 1;
  height: 85%;
  padding: $default-padding;
  background-color: green;
  overflow-y: scroll;
}

@media (min-width: 320px) and (max-width: 480px) {
  .header {
    width: calc(100vw - 22px);
  }
}
