@import '../../assets/css/_variables.scss';

.epFullPage {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.epSideBarContainer {
  height: 100vh;
  width: $size-sidebar-width;
}

.epMainContent {
  width: calc(100vw - 280px);
  height: 100vh;
}


@media (min-width: 320px) and (max-width: 480px) {
  .epFullPage {
    display: flex;
    flex-direction: column-reverse;
    width: 100vw;
    height: 100vh;
  }

  .epMainContent {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: calc(100vh - $size-sidebar-height);
  }

  .epSideBarContainer {
    width: 100vw;
    height: $size-sidebar-height;
  }
}
