@import '../../assets/css/_variables.scss';

.header {
  display: flex;
  height:  $size-header-height; // Ajustar con valores de header
  padding: $default-padding;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  
  .headerTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

}

@media (min-width: 320px) and (max-width: 480px) {
  .header {
    width: calc(100vw - 22px);
  }
}
