// Fuentes
/*
@font-face {
    font-family: latoRegular;
    src: url(../assets/fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: latoBold;
    src: url(../assets/fonts/Lato-Bold.ttf);
}
*/
  
  // Brand Colors
  $primary-blue: #002f6c;
  $second-blue: #41b6e6;
  $aquamarine: #3cdbc0;
  // Text Colors
  $text-dark: #1e272e;
  $text-medium: rgba($text-dark, 0.56);
  $text-light: rgba($text-dark, 0.24);
  
  $grey: #dbe2e9;
  $white: #ffffff;
  $error-color: #FF5630;
  
  // Tamaños
  $size-sidebar-width: 450px;
  $size-sidebar-height: 60px;
  $size-header-height: 60px;
  $default-padding: 10px;
  